.about {
    max-width: 60vw;
    margin: 0 auto;
    padding: 2vw;
    background-color: #fff;
    color: #2e2e2e;
    line-height: 1.2;
    position: relative;
    z-index: 1;
    padding-top: 180px; 
}

.about h1 {
    font-size: 1.5vw;
    margin-bottom: 2vw;
}

.about p {
    font-size: 1vw;
    margin-bottom: 2vw;
}
