.footer {
    background-color: white;
    padding: 20px;
    text-align: left;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 250px;
}

.footer-content {
    color: #2e2e2e;
    font-size: 0.9em;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: none;
    color: #555;
}

.social-links {
    margin-bottom: 10px;
}

.social-links a {
    color: #2e2e2e;
    margin-right: 10px;
    font-size: px;
    text-decoration: none;
}

.social-links a:hover {
    color: #555;
}
