

.recipe-list {
    column-count: 3; /* Creates three columns for the items */
    column-gap: 20px; /* Space between the columns */
    padding: 20px;
    background-color: #fff;
    margin-top: 180px;
}

.recipe-item {
    break-inside: avoid; /* Prevents items from breaking across columns */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px; /* Space between items */
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden; /* Prevents content overflow */
}

.recipe-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: cover; /* Images maintain aspect ratio and fill the space */
}

.recipe-item h3, .recipe-item p {
    margin: 5px 0;
    color: #333;
}

.recipe-item button {
    background-color: #918e8e;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

.recipe-item button:hover {
    color: #555;
    text-decoration: none;
}
