.sidebar {
    width: 250px;
    height: auto; /* Sidebar height adjusts based on content */
    background-color: white;
    padding: 20px;
    position: fixed;
    top: 50%; /* Start in the middle of the page */
    transform: translateY(-50%); /* Center the sidebar vertically */
    left: 0;
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 20px;
}

.sidebar a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: none;
    color: #555;
}
