.sidebar {
    width: 20vw;
    height: 20vh;
    background-color: rgb(233, 143, 25);
    padding: 1rem;
    position:relative;
}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar ul li{
margin: 1rem 0;
}

.sidebar ul li a{
    text-decoration: none;
    color: aliceblue;
}