.sidebar {
    width: 20vw;
    max-width: 200px;
    height: auto;
    background-color: white;
    padding: 20px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 1001;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #2e2e2e;
    text-decoration: none;
    font-size: 16px;
}

.sidebar a:hover{
    text-decoration: none;
    color: #555;
}

/* Larger screens */
@media (min-width: 1200px) {
    .sidebar a {
        font-size: 18px; 
    }
}

/* Medium screens */
@media (max-width: 768px) {
    .sidebar {
        width: 25vw;
        padding: 20px;
    }

    .sidebar a {
        font-size: 15px; 
    }
}

/* Small screens */
@media (max-width: 480px) {
    .sidebar {
        width: 30vw;
        padding: 20px;
    }

    .sidebar a {
        font-size: 14px; 
    }
}
